.cta
	display block
	background-color #fff

	&__primary
		margin-top 170px
		font-family 'Montserrat'
		font-size 48px
		font-weight 400
		color black

	&__secondary
		margin-top 25px
		font-family 'Montserrat'
		font-size 18px
		font-weight 400
		color $theme-grey
		opacity .25

	&__button
		margin-top 85px
