import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'jeet'


import('../blocks/**/*')


.container
	center(1500px, 20px)
	min-width 1200px
	position relative
	text-align center
	clearfix()
