import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import 'jeet'


import('../blocks/**/*')


.container
	center(1500px, 15px)
	position relative
	text-align center
	clearfix()
