mixin features()
	+b.features&attributes(attributes)
		.container
			+e.P.sub-heading: | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			+e.H3.heading: | Lorem ipsum dolor sit amet
			+e.UL.list
				+e.item
					+e.I.icon._church
					+e.H6.title: | Lorem ipsum dolor sit amet
					+e.P.description: | Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.
				+e.item
					+e.I.icon._snowflake
					+e.H6.title: | Lorem ipsum dolor sit amet
					+e.P.description: | Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.
				+e.item
					+e.I.icon._cr-balls
					+e.H6.title: | Lorem ipsum dolor sit amet
					+e.P.description: | Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.
				+e.item
					+e.I.icon._cr-bell
					+e.H6.title: | Lorem ipsum dolor sit amet
					+e.P.description: | Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.
		+e.button
			+button({
				"type": "button",
				"text": "CHECK OUR OFFER"
				})
