.button
	center()
	padding-x(40px)
	padding-y(20px)
	display block
	font-family 'Montserrat'
	font-size 14px
	font-weight 700
	line-height 10px
	color $theme-blue
	background-color white
	border none
	border-radius 22px
	box-shadow 0 0 35px rgba(218, 229, 239, .35)
