.logo
	align(h)
	position relative
	display block
	size(414px, 207px)
	text-decoration none
	background-color white
	border-radius 0 0 414px 414px
	box-shadow 0 0 65px rgba(218, 229, 239, .55)
	text-transform uppercase

	&__heading
		align(h)
		top 55px
		font-family 'Montserrat'
		font-size 48px
		font-weight 400
		color $theme-blue

	&__sub-heading
		align(h)
		bottom 80px
		font-family 'Montserrat'
		font-size 18px
		font-weight 700
		color $theme-grey
		opacity .15
