.banner
	margin-top -220px
	display block
	height 1300px
	background-image url(/assets/images/banner.jpg)
	background-repeat no-repeat
	background-attachment scroll
	background-position top center

	// background-size cover
