.hamburger-menu
	position absolute
	top 60px
	left 30px
	display block
	size(60px)
	background-color white
	border-radius 50% 50%
	box-shadow 0 0 65px #dae5ef

	&:before
		content ''
		sprite $hamburger
		align(b)
